body {
  display: flex;
  user-select: none;
  background-color: black;
}

#editBoardArea {
  flex: 60%;
  /* v-center */
  /* display: flex;
  align-items: center;  */
  /* background-color: red; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row * {
  flex: 1;
  background-color: black;
  width: 25%;
  color: white;
  border: 2px solid white;
  font-size: 10px;
}

.row button:hover {
  background-color: #666;
}

.row button:active {
  background-color: #bbb;
}

#outputArea {
  flex: 40%;
  height: 100%;
  top: 0px;
  padding: 16px;
  background-color: darkgrey;
  overflow: auto;
}

table {
  width: 320px;
  table-layout: fixed;
  border: 2px solid black;
  user-select: none;
  background-color:slategrey;
}

td {
  font-size: 8pt;
  width: 16px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  user-select: none;
  background-size: contain;
  background-position: center;
}

td:hover {
  border: 1px dashed red;
}

td[bv="3"]:hover {
  border: 1px dashed lime;
}

.center {
  border-style: solid !important;
}

.white {
  background-color: white;
}

.dark {
  background-color: lightgray;
}

td[bv="1"], #bs1, [sel="1"] {
  background-image: url('img/x.png');
  font-size: 0px;
}

td[bv="2"], #bs2, [sel="2"] {
  background-image: url('img/o.png');
  font-size: 0px;
}

#bs2 {
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

td[bv="3"], #bs3, [sel="3"] {
  background-color: black;
}

td[bv="4"], #bs4, [sel="4"] {
  background-image: url('img/LRMirror.png');
  font-size: 0px;
}

td[bv="5"], #bs5, [sel="5"] {
  background-image: url('img/HMirror.png');
  font-size: 0px;
}

td[bv="6"], #bs6, [sel="6"] {
  background-image: url('img/VMirror.png');
  font-size: 0px;
}

td[bv="9"], #bs9, [sel="9"] {
  background-image: url('img/LLMirror.png');
  font-size: 0px;
}

td[bv="11"], #bs11, [sel="11"] {
  background-image: url('img/wormhole.png');
  font-size: 0px;
}

td[bv="13"], #bs13, [sel="13"] {
  background-image: url('img/gw.png');
  font-size: 0px;
}

td[bv="16"], #bs16, [sel="16"] {
  background-image: url('img/als.png');
  font-size: 0px;
}

td[bv="21"], #bs21, [sel="21"] {
  background-image: url('img/s.png');
  font-size: 0px;
}

.boardSelector {
  margin: 2px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 12pt;
  border-radius: 50%;
  border: 0px;
  background-position: center;
}

.boardSelector:hover {
  border: 2px dotted lime;
}

.boardSelector.active {
  border: 2px solid lime;
}

input[type="number"] {
  width: 50px;
}

#importBoardInput {
  color: white;
}

#logger {
  position: fixed;
  bottom: 0%;
  right: 0%;
  font-size: 10px;
  opacity: 55%;
  user-select: none;
}

#logger:hover {
  opacity: 75%;
  background-color: slategray;
}

#boardInput, #copier {
  display: none;
}

#boardSelectorPalette {
  border: 2px solid black;
  background-color: gray;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content:space-evenly;
  /* width: 160px; */
  /* width: 100%; */
}

.hl-green {
  background-color: lime !important;
}

.hl-red {
  background-color: red !important;
}

#undo, #redo, #loadBoardState {
  opacity: 33%;
}

.clickable {
  opacity: 100% !important;
}

button.toggle-on {
  color: lime;
}

button.toggle-off {
  color: red;
}